.about {
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
    &__container {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        max-width: 800px;
        box-sizing: border-box;
        box-shadow: $shadow;
        position: relative;
        margin: 2rem auto 0;
        &::before {
            content: '';
            position: absolute;
            top: -1.2rem;
            left: -1.2rem;
            width: 150px;
            height: 150px;
            background-color: $contrast-color;
            z-index: -1;
            border-radius: 0.5rem;
        }
    }
    &__image {
        flex: 1 1;
        width: 50%;
        border-radius: 5%;
        box-shadow: $shadow;
    }
    &__content {
        flex: 1 1;
        padding: 2.5rem;
        box-sizing: border-box;
        width: 50%;
        &-heading {
            color: $contrast-color;
            font-family: 'Leafy';
            font-weight: 400;
            font-style: normal;
            margin: 0 0 26px;
            font-size: 36px;
            display: inline-block;
        }
        &-text {
            font-family: 'Raleway Light';
            font-style: normal;
            font-size: 18px;
            line-height: 1.25;
            font-weight: 300;
            color: $primary-text-color;
            margin: 0 0 1.5rem;
        }
    }
}
@media (max-width: 786px) {
    .about {
        padding: 1rem;
        &__container {
            flex-direction: column;
            width: 70%;
            margin: 2rem auto 0;
        }
        &__image {
            width: 70%;
            margin: 0 auto;
        }
        &__content {
            width: 80%;
            margin: 0 auto;
            padding: 0;
            &-heading {
                text-align: center;
                display: block;
            }
        }
        &__button {
            text-align: center;
        }
    }
}
@media (max-width: 425px) {
    .about {
        &__container {
            width: 90%;
        }
        &__image {
            width: 100%;
        }
        &__content {
            width: 100%;
        }
    }
  
}