.reasons {
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
    &__container {
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 2rem 0;
        padding: 0;
        justify-content: center;
    }
    &__item {
        box-shadow: $shadow;
        padding: 1.5rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-image {
            width: 15rem;
            height: 15rem;
            border-radius: 0.5rem;
        }
    }
}
@media (max-width: 768px) {
    .reasons {
        &__container {
            gap: 2rem;
        }
    }    
}