.footer {
    padding: 2rem;
    box-sizing: border-box;
    background: #000;
    color: #a9a9a9;
    font-size: 30px;
    font-family: 'Raleway Light';
    font-weight: 300;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
        margin: 0 1rem 0 0;
    }
}
@media (max-width: 470px) {
    .footer {
        padding: 1rem;
        font-size: 25px;
        font-family: 'Raleway Light';
        font-weight: 300;
        font-style: normal;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & > span {
            margin: 0 0 1rem;
        }
    }
}
