.header {
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: $bg-color;
    transition: box-shadow 3s ease-out;
    animation: 1s alternate linear  infinite scaling-shadow;
}